@model ikm.Models.AppSession

@{
    ViewData["Title"] = "Удаление";
}

<h1>Вы уверены, что хотите удалить эту сессию?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Дата начала
        </dt>
        <dd class="col-sm-9">
            @Model.ActivationDate
        </dd>

        <dt class="col-sm-3">
            Время начала
        </dt>
        <dd class="col-sm-9">
            @Model.ActivationTime
        </dd>

        <dt class="col-sm-3">
            Приложение
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.App.BaseName)
        </dd>

        <dt class="col-sm-3">
            Заголовок окна
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WindowTitle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SessionId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>