/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem var(--bs-body-bg), 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

html, body {
  height: 100%; /* Важно для бокового меню */
}

.sidebar {
  min-height: 100vh; /* Меню на всю высоту */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

/* Красивые ссылки в меню */
.nav-pills .nav-link {
    color: var(--bs-body-color); /* Адаптация под тему */
    margin-bottom: 5px;
}

.nav-pills .nav-link.active {
    background-color: #0d6efd;
    color: white;
}

.nav-pills .nav-link:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Карточки на главной */
.dashboard-card {
    transition: transform 0.2s;
}
.dashboard-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}