@model ikm.Models.Site

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование сайта</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Domain" class="control-label">Домен</label>
                <input asp-for="Domain" class="form-control" />
                <span asp-validation-for="Domain" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Назад</a>
            </div>
        </form>
    </div>
</div>